.custom-navbar {
  background: #1A7BBA;
  border-color: #1681C7;
  /*min-height: 60px;*/
  a {
    color: white !important;
  }
  .navbar-header {
    margin-left: 55px;
  }
}

.logo {
  height: 175%;
}

.navbar-inverse .nav > .active {
  a, a:hover, a:focus {
    background: #2D9CDB;
  }
}

.like-button {
  cursor: pointer;
}

.like-button-label {
  padding-left: 0px;
  color: #1A7BBA;
}

.date-label {
  margin-top: 10px;
  margin-bottom: 10px;
  weak {
    padding-right: 10px;
  }
}

.profile-icon {
  height: 40px;
}

.anonymous-checkbox {
  margin-top: 20px;
}

.inbox-icon {
  margin-top: 3px;
}
